$justify-content: ( center: center, end: end, start: start);
$align-items: ( center: center, end: end, start: start);
.d-flex {
    display: flex;
}

@each $key,
$value in $justify-content {
    .just-cont-#{$key} {
        justify-content: $value !important;
    }
}

@each $key,
$value in $align-items {
    .al-it-#{$key} {
        align-items: $value !important;
    }
}

.d-block {
    display: block;
}

.d-grid {
    display: grid;
}

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block;
}

.d-none {
    display: none;
}