$primary-color: #8C7158;
$secondary-color: #BFA893;
$neutral-color: #D9CCC5;
$contrast-color: #0D0D0D;
// transitions
$color-transitions: background-color var(--animation-time),
color var(--animation-time);