.drawer {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    max-height: var(--unit-4);
    min-height: var(--unit-4);
    background-color: var(--primary-color);
    border-bottom-left-radius: var(--unit-1);
    border-bottom-right-radius: var(--unit-1);
    z-index: 999999;
}