$ball-diameter: 1em;
.loading {
    display: block;
    position: fixed;
    width: 10em;
    height: 1em;
    bottom: 2em;
    right: 2em;
    background-color: transparent;
    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        width: $ball-diameter;
        height: 1em;
        border-radius: 50%;
        background-color: var(--contrast-color);
        animation: loadingAnimation 1000ms infinite;
        z-index: 99;
    }
}

@keyframes loadingAnimation {
    0% {
        border-radius: 50%;
        left: 0;
    }
    50% {
        left: calc(100% - $ball-diameter);
    }
    100% {
        left: 0;
    }
}